.show_item_card {
    height: 400px;
    width: 330px;
    background-color: rgb(226, 219, 219);
    display: block;
    color: black;
    font-size: 20px;
    margin-right: 30px;
    border-radius: 5px;
    float: left;
    cursor: pointer;
    transition: all .3s ease-in-out;
    margin-top: 50px
}


.show_item_card .author_name {
    height: 60px;
}

.show_item_card .img_preview {
    height: 160px;
    padding-bottom: 20px;
}

.show_item_card div {
    width: 330px;
    height: 100px;
    padding-top: 8px;
    text-align: center;
    margin: 0 auto
}

.show_item_card img {
    width: 100px;
    height: 100px;
    align-content: center;
    margin: 0 auto;
    border-radius: 20px;
}

.img_preview ul {
    height: 240px;
    line-height: 20px;
    margin: 0 auto
}

.img_preview ul li {
    float: left;
    padding: 5px 5px;
    margin: 5px 5px;
    font-size: 18px;
    position: relative;
    list-style: none;
    
}

.img_preview ul img {
    width: 32px;
    height: 32px;
    border-radius: 20px;
}